.tile {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  &:hover .deleteButton {
    display: block;
  }
}
.deleteButton {
  position: absolute;
  top: -15px;
  right: -15px;
  display: none;
  transition: all 2s;
}

.toggleButton {
  position: relative;
  top: -5px;
}

.title {
  border: 1px solid #ced4da;
  padding: 10px 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
