.prepend {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.header {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 10px;
  padding-top: 10px;
}

.search {
}
.filter {
}
.createButton {
  text-align: right;
}

@media (max-width: 767px) {
  .search {
  }
  .filter {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .createButton {
    button {
      width: 100%;
    }
  }
}
