.node {
  display: inline-block;
  width: 300px;
  height: 400px;
  padding: 15px;
  margin-right: 50px;
  overflow: initial;
  &:not(:last-child)::after {
    content: "\f30b";
    font-size: 25px;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    position: absolute;
    left: 100%;
    top: calc(50% - 20px);
  }
}

.title {
  border: 1px solid #ced4da;
  padding: 10px 5px;
  &.error {
  }
}
.check {
  position: absolute;
  right: -15px;
  top: -15px;
  border-radius: 50%;
  height: 42px;
}

.content {
  border: 1px solid #ced4da;
  margin-top: 10px;
  height: calc(100% - 50px) !important;

  padding: 5px;
}
