.wrapper {
  background: #a900b0;
  margin: 0px -15px;
}
.brandName {
  color: rgba(255, 255, 255, 0.8);
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
.logout {
  background: #fff;
  color: #000;
  font-size: 13px;
}
