.header {
  margin-bottom: 10px;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 10px;
  padding-top: 10px;
}
.actions {
  text-align: right;
}
.action {
  margin-right: 10px;
  i {
    margin-right: 5px;
  }
}

.nodes {
  overflow: auto;
  white-space: nowrap;
  padding: 15px 0px;
}

@media (max-width: 767px) {
  .actions {
    text-align: center;
    padding-top: 10px;
    & .action {
      margin-bottom: 10px;
    }
  }
}
