.wrapper {
  max-width: 500px;
  width: 90%;
  margin: 10% auto;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.1);
}
.heading {
  font-size: 24px;
  padding: 10px;
  text-align: center;
  margin-top: 15px;
}
.prepend {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.action {
  width: 100%;
  display: block;
  margin-top: 20px;
}
.group:nth-child(1) {
  margin-bottom: 20px;
}
.footer {
  background: #fff;
  text-align: center;
  border: none;
  padding: 15px 0px;
}
